body {
  /* TODO: Get better fonts!!! */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#main-box {
  height: 70vmin;
}

#start-button {
  width: 60vmin;
  height: 50px;
}

/* answer-buttons */
.custom-button {
  display: block;
}
