body {
  /* TODO: Get better fonts!!! */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#main-box {
  height: 70vmin;
  text-align: center;
}

#start-button {
  width: 60vmin;
  height: 50px;
}

/* answer-buttons */
.custom-button {
  display: block;
  margin: 20px auto;
  height: 50px;
  min-width: 40vmax;
}

/* results page elements */
h5 {
  margin: 5px 0px;
}
.result-true {
  display: inline-block;
  margin: 5px 0px;
  padding: 10px 0px;
  width: 60vmin;
  background-color: green;
}

.result-false {
  display: inline-block;
  margin: 5px 0px;
  padding: 10px 0px;
  width: 60vmin;
  background-color: red;
}
#save-button {
  display: block;
  margin: 10px auto;
}

#try-again-button {
  display: block;
  margin: 10px auto;
}
